root = true

[**/Migrations/*.cs]
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.CA1062.severity = none

[*.cs]
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1634.severity = none
[*.cs]
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1636.severity = none
root = true

[*.cs]
dotnet_diagnostic.SA1101.severity = none   
dotnet_diagnostic.CA2007.severity = none   
dotnet_diagnostic.SA1200.severity = none 